* {
  margin: 0;
  padding: 0;
  font-family: Arial
}

button { 
  cursor: pointer;
}

.task-manager__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,.2);
  gap: 1rem;
  padding: 1rem;
  margin-left: 100px;
  margin-top: 100px;
  border-radius: 10px;
}

.task-manager__title {
  color: rgb(0,148,255);
  font-weight: bold;
  font-size: 1.5rem;
}

.task-manager-options__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}

.task-manager__input {
  padding: 0.5rem;
  border-style: solid;
  border-radius: 6px;
  border-color: rgb(0,148,255);
  width: 100%
}

.task-manager-add__button {
  white-space: nowrap;
  color: white;
  padding: 0 0.85rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(0,148,255);
  font-weight: bold;
}

.tasks__container {
  width: 100%
}

.task__container {
  display: flex;
  justify-content: space-between;
  border-bottom-style: dotted;
  border-color: rgba(0,0,0,.3);
  padding: 1rem;
  align-items: center;
}

.task__check {
  padding: 5px 15px;
  color: green;
  font-size: 2rem;
  border: none;
  background-color: rgba(0,0,0,0);
  border: 2px solid rgb(0,0,0, 0);
}

.task__check:hover {
  border: 2px solid rgb(0,148,255);
  border-radius: 10px;
}

.task__name {
  overflow-wrap: anywhere;
  font-size: 0.9rem;
}

.task__remove {
  padding: 0.3rem 0.6rem;
  background-color: #ea4337;
  color: white;
  border: none;
  border-radius: 5px;
}

.task__completed {
  color: gray;
  text-decoration: line-through;
}