<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  {% if styles %}
    <link rel="stylesheet" href=/styles/{{ styles }}.css>
  {% endif %}
  <script src="https://kit.fontawesome.com/91c970a70b.js" crossorigin="anonymous"></script>
</head>
<body>
  {% include 'navigation.njk' %}
  <header>
    {% include 'hero.njk' %}
  </header>
  {{ content | safe }}
  {% include 'footer.njk' %}
  {% if script %}
    <script type="module" src=/scripts/{{ script }}.js></script>
  {% endif %}
  <script src='/scripts/hamburger-menu.js'></script>
</body>
</html>