<header>
  <div class="navigation__container">
    <nav class='navigation'>
      <a href="/" class="navigation__creator-name">ziurj</a>
      {# <p class="navigation__project-name">Foundational HTML, CSS, and JS Projects</p> #}
      <ul class='navigation__links'>
        <li><a href="/" class='navigation__link'>Task Manager</a></li>
        <li><a href="/" class='navigation__link'>Simple Calculator</a></li>
        <li><a href="https://github.com/ziurj/fundementals-exercises" class='navigation__link highlighted__button'>Source Code</a></li>
      </ul>
    </nav>
  </div>
</header>