<section class="project">
  <div class="project__container container">
    <h2 class="project__name">{{ projectName }}</h2>
    <video width="960" height="540" controls class="project__video">
      <source src="{{ videoLink }}" type="video/mp4">
      {# Comment for if video not loading for user #}
      Your browser does not support the video tag.
    </video>
    <h3 class="project__features-title">Features</h3>
  </div>
</section>