# Node dependencies
node_modules/

# Eleventy build output
public/
_site/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Env files (if you ever use them)
.env
.env.local

