* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* Come back and make this a gradient */
  background: #0086FF;
  background: linear-gradient(90deg, rgba(0, 134, 255, 1) 0%, rgba(125, 194, 255, 1) 100%);
  color: rgb(39, 39, 39);
}

button { 
  cursor: pointer;
}

.calculator {
  width: 180px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  margin: 0 auto;
  padding: 12px 2px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  scale: 1.5;
}

.calculations__container {
  width: 90%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: right;
  background-color: #f7f7f7;
  overflow: scroll;
  white-space: nowrap;
}

/* Make this not add for the last row (equals row) */
.calculator div { 
  margin-bottom: 10px;
}

.numbers__row, .operators__container, .equal__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  gap: 8px;
}

.number {
  padding: 8px 12px;
  flex: 1; 
  border: none;
  background-color: #bbdefb;
  border-radius: 4px;
  font-weight: bold;
}

.number:hover {
  background-color: #9fbcd4;
}

.operator-button {
  background-color: #ffd166;
}

.operator-button:hover {
  background-color: #d3ad53;
}

.clear-button {
  background-color: #f55c47;
  color: white;
}

.clear-button:hover {
  background-color: #d8513f;
}

.operator-equals-button {
  background-color: #0ad6a0;
  color: white;
  align-self: flex-start;
  font-weight: bold;
  grid-column: span 2;
}

.operator-equals-button:hover {
  background-color: #08a077;
}

