* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #061E29;
  --color-primary: #1D546D;
  --color-secondary: #5F9598;
  --color-secondary-light: #95cbce;
  --color-light-dark-text: #313131;
  --color-bg-light: #F3F4F4;
  --color-github-background: #151b23;

  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

/* Navigation */
.navigation__container {
  background: var(--color-bg-dark);
  background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 100;
}

.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding-inline: 2rem;
  height: 80px;
}

.navigation__creator-name, 
.navigation__link, 
.navigation__project-name,
.footer__project-link {
  display: inline-block; /* Rrequired for transform transitions */
  text-decoration: none;
  color: var(--color-bg-light);
  font-size: 1rem;
  transition: color 0.15s, transform 0.15s;
  will-change: transform;
}

.navigation__links {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  list-style: none;
}

.navigation__link, .footer__project-link {
  padding: 0.5rem 0.5rem;
}

.navigation__link:hover, .footer__project-link:hover {
  transform: scale(1.1) translateY(-2px);
}

.navigation__creator-name {
  padding: 1rem 1.5rem;
  transition: transform 0.15s, font-weight 0.15s;
  font-size: 2rem;
  font-weight: bold;
}

.navigation__creator-name:hover {
  transform: scale(1.1) translateY(-2px);
  font-weight: bolder;
  transform: scale(1.25);
}

.highlighted__button {
  border: 2px solid var(--color-bg-light);
  border-radius: 6px;
  transform: background-color 0.15s;
}

.highlighted__button:hover {
  background-color: #f3f4f415;
}

/* Hero */
.hero {
  background-color: var(--color-bg-dark);
  padding-block: 6rem;
  background: var(--color-bg-dark);
  background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
}

.hero__container {
  color: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
}

.hero__heading {
  font-size: 3.5rem;
}

.hero__subtext {
  font-size: 1.15rem;
}

.hero__subtext a {
  color: #00c3ff;
  font-weight: bold;
}

/* Note Section */

.note {
  background-color: var(--color-secondary);
}

.note__text { 
  color: var(--color-bg-light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Project Section */
.project__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-light-dark-text);
}

.project__name {
  font-size: 2.5rem;
  align-self: center;
  text-align: center;
}

.project__links__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  max-width: 100%;
  margin-inline: 5.5rem;
  gap: 1rem;
}

.project__link-button {
  display: inline-block;
  flex: 1;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  background-color: var(--color-primary);
  color: var(--color-bg-light);
  border-radius: 6px;
  transition: transform 0.15s;
}

.project__link-button:hover {
  transform: scale(1.05);
}

.github-button {
  background-color: var(--color-github-background);
}

.project__video__container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-top: 56.25%; /* Keeps the 16:9 ratio apparently */
}

.project__video {
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.671) 0px 1px 3px -1px;
  border-radius: 10px;
  position: absolute; /* This is to fill the video container*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__features__container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-inline: 5.5rem;
}

.project__features-list {
  margin-inline: 1rem;
  font-size: 1.15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.project__feature-item::before {
  content: "↳";
  font-weight: bold;
  margin-right: 12px;
}

.project__features-title {
  font-size: 2rem;
  color: var(--color-light-dark-text);
}

.project:nth-child(even) {
  background-color: #ffffff;
}

.project:nth-child(odd) {
  background-color: #f0f0f0;
}

/* Footer */

.footer {
  background: var(--color-bg-dark);
  background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__heading {
  color: var(--color-bg-light);
  font-size: 1.5rem;
}

.footer__divider {
  width: 100%;
  border-bottom: 1px solid var(--color-secondary);
  margin-bottom: 1rem;
}

.footer__project-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.footer__author__container {
  padding: 0.25rem;
  text-align: center;
  color: var(--color-secondary);
}

.footer__author {
  color: var(--color-secondary-light);
  text-decoration: none;
  transition: color 0.15s;
  font-weight: bold;
}

.footer__author:hover {
  color: #bef5f8;
}

/* Demo */

.demo__container {
  padding: 15rem 2rem;
}

/* Hamburger menu icon */
.hamburger-menu {
  color: var(--color-bg-light);
  font-size: 2.5rem;
  display: none;
}

/* ====== Shared styles for <= 1023px ====== */
@media (max-width: 1023px) {
  .project__links__container {
    margin: 0;
  }

  .project__features__container {
    margin: 0;
  }

  .footer__project-links {
    flex-direction: column;
    align-items: center;
  }
}

/* ====== Phone-only styles (<= 599px) ====== */
@media (max-width: 599px) {
  .navigation {
    position: relative;
  }

  .navigation__links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    background: var(--color-bg-dark);
    background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
    padding-top: 3rem;
    border-top: 1px solid var(--color-bg-light);
    border-bottom: 1px solid var(--color-bg-light);
    box-shadow: rgba(0, 0, 0, 0.767) 1px 3px 8px;
    gap: 1px;
  }

  .navigation__link {
    padding: 1rem;
  }

  .navigation__links__hidden {
    display: none;
  }

  .navigation__links li {
    margin-bottom: 3rem;
    text-align: center;
  }

  .hero {
    padding-block: 2rem;
  }

  .hamburger-menu {
    display: inline;
  }
}
