* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* Come back and make this a gradient */
  background-color: #0086ff;
  color: rgb(39, 39, 39);
}

.calculator {
  width: 180px;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  margin: 0 auto;
  margin-top: 200px;
  padding: 12px 2px;
  border-radius: 8px;
}

.calculations__container {
  width: 90%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.5rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: right;
  background-color: #f7f7f7;
}

.calculator div {
  margin-bottom: 10px;
}

.numbers__row, .operators__container, .equal__row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  gap: 8px;
}

.operator-button, .number {
  padding: 8px 12px;
  flex: 1; 
  border: none;
  background-color: #bbdefb;
  border-radius: 4px;
  font-weight: bold;
}

.operator-button {
  background-color: #ffd166;
}

.clear-button {
  background-color: #f55c47;
  color: white;
}

.operator-equals-button {
  background-color: #0ad6a0;
  color: white;
  align-self: flex-start;
  font-weight: bold;
  grid-column: span 2;
}