---
title: 'Web Development Practice Projects'
layout: 'landing-page.njk'
heroHeading: 'HTML, CSS, and JavaScript Practice Projects'
heroSubtext: The ideas for these small projects come from <a href="https://jscrambler.com/blog/html-css-and-javascript-practice-projects-to-level-up-your-developer-skills">this</a> article. All were created with zero assistance, other than Google.
note: Links to the source code can be found throughout the webpage, but also in the navigation bar.
---
