---

layout: 'demo-page.njk'
heroHeading: Simple Calculator Demo
script: simple-calculator
styles: simple-calculator-styles

---

<div class="calculator">
  <div class="calculations__container js-calculations-text">0</div>
  <div class="operators__container">
    <!-- Change these later to icons -->
    <button class="number operator-button">+</button>
    <button class="number operator-button">-</button>
    <button class="number operator-button">*</button>
    <button class="number operator-button">/</button>
  </div>
  <div class="numbers__row">
    <button class="number">7</button>
    <button class="number">8</button>
    <button class="number">9</button>
    <button class="number">4</button>
  </div>
  <div class="numbers__row">
    <button class="number">5</button>
    <button class="number">6</button>
    <button class="number">1</button>
    <button class="number">2</button>
  </div>
  <div class="numbers__row">
    <button class="number">3</button>
    <button class="number">0</button>
    <button class="number">.</button>
    <button class="number clear-button">C</button>
  </div>
  <div class="equal__row">
    <button class="operator-equals-button number">=</button>
  </div>
  </div>