* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg-dark: #061E29;
  --color-primary: #1D546D;
  --color-secondary: #5F9598;
  --color-secondary-light: #95cbce;
  --color-light-dark-text: #313131;
  --color-bg-light: #F3F4F4;

  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

body {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

section .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

/* Navigation */
.navigation__container {
  background: var(--color-bg-dark);
  background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  height: 80px;
}

.navigation__creator-name, 
.navigation__link, 
.navigation__project-name {
  display: inline-block; /* Rrequired for transform transitions */
  text-decoration: none;
  color: var(--color-bg-light);
  font-size: 1rem;
  transition: color 0.15s, transform 0.15s;
  will-change: transform;
}

.navigation__links {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  list-style: none;
}

.navigation__link {
  padding: 0.5rem 0.5rem;
}

.navigation__link:hover {
  transform: scale(1.1) translateY(-2px);
}

.navigation__creator-name {
  padding: 1rem 1.5rem;
  transition: transform 0.15s, font-weight 0.15s;
  font-size: 2rem;
  font-weight: bold;
}

.navigation__creator-name:hover {
  transform: scale(1.1) translateY(-2px);
  font-weight: bolder;
  transform: scale(1.25);
}

.highlighted__button {
  border: 2px solid var(--color-bg-light);
  border-radius: 6px;
  transform: background-color 0.15s;
}

.highlighted__button:hover {
  background-color: #f3f4f415;
}

/* Hero */
.hero {
  background-color: var(--color-bg-dark);
  padding-block: 6rem;
  background: var(--color-bg-dark);
  background: linear-gradient(90deg, rgba(6, 30, 41, 1) 0%, rgba(29, 84, 109, 1) 100%);
}

.hero__container {
  color: var(--color-bg-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.hero__heading {
  font-size: 3.5rem;
}

.hero__subtext {
  font-size: 1.15rem;
}

.hero__subtext a {
  color: #00c3ff;
  font-weight: bold;
}

/* Note Section */

.note {
  background-color: var(--color-secondary);
}

.note__text { 
  color: var(--color-bg-light);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Project Section */
.project__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.project__name {
  color: var(--color-light-dark-text);
  font-size: 2.5rem;
}

.project__video {
  align-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.671) 0px 1px 3px -1px;
  border-radius: 10px;
}

.project__features-title {
  font-size: 2rem;
  color: var(--color-light-dark-text);
  margin-inline: 5.5rem;
}